@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background: url('/static/img/SometimesItRains.gif') repeat 512px, linear-gradient(5deg, #223, #221);
    font-family: 'JetBrains Mono', monospace;
}

.container {
    position: absolute;
    background-color: rgba(51, 51, 68, 0.6);
    color: #fff;
    margin: auto;
    margin-top: 20px;
    width: 1100px;
    padding: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 2px;
}

h1, h2, h3 {
    text-align: center;
}

a {
    color: #fff;
}

.termtext {
    padding: 5px;
    background-color: #000;
}

.abouttext {
    font-size: 14px;
}

.paracenter {
    text-align: center;
}

.pararight {
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%
}

.bigradient {
    background: linear-gradient(90deg, #D60270, #9B4F96, #0038A8);
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="column"] {
        float: left;
        width: 100%;
    }
}

@media only screen and (max-width: 1280px) {
    [class*="container"] {
        width: 80%
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}