{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="termtext">> about</h1>
    <div class="abouttext">
        <h2>Hello!</h2>
        <p>I'm Jack, one of the many software developers in the United Kingdom, interested in anything from cybersecurity to obscure device modding. I'm a massive *nix nerd and I enjoy messing around with both hardware and software.</p>
        <p>I have experience in a variety of different programming languages and frameworks, primarily Python but I'm making the effort to learn C, and maybe Rust to get more into low-level development.</p>
        <p>I do currently have a part-time job, along with that I have my own <a href="/projects">projects</a> as well which I maintain in my free time.</p>
        <p>I've taken an interest in cybersecurity and just breaking software recently, seeing small things I can find that can be blown up into a massive security hole, its rather interesting and something I do enjoy messing about with from time to time with my own equipment.</p>
        <p>I also produce a large assortment of music under a few different alias's, recently I've been experimenting with hard dance music (uptempo), and jungle/breakcore. Normally I'd produce progressive house tracks, which I still do from time to time, I'm currently working on a new EP to release with progressive house music in.</p>
        <p>I also DJ on the side too, its quite a fun hobby and I'm hoping at one point to be able to turn it into something that I can do on the side.</p>
        <p>Feel free to download my latest CV here: <a href="/static/data/CV.pdf">CV.pdf</a>.</p>
        <p class="paracenter"><img src="/static/img/you_saw_nothing.png"> :)</p>
    </div>
    <a href="/">Go home.</a>
</div>
{% endblock %}