<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>> jack @ water</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- 
        HI! If you steal any of this code just credit me in the HTML Comments 
        Just remember, no matter what happens, you're doing great, keep it up!
    -->
    
    {% block content %} {% endblock %}
</body>
</html>