{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="termtext">> contact</h1>
    <div class="abouttext">
        <p>There are quite a few ways to contact me, which I will list here:</p>
        <h2>Email</h2>
        <p>I have quite a few E-Mail addresses, the ones you're most likely to get a response from are:</p>
        <ul>
            <li>jack [at] eilles [dot] xyz</li>
            <li>jackeilles [at] outlook [dot] com</li>
            <li>jackeilles [at] cock [dot] li</li>
            <li>jack [at] xenialinux [dot] com</li>
        </ul>
        <p>These addresses are listed in order of likelihood of me seeing your E-Mail.</p>
        <h2>Phone</h2>
        <p>I have two phone numbers which are to be used only for legitimate purposes only.</p>
        <ul>
            <li><s>01207 664409</s> (currently inactive, voip server down)</li>
            <li>07446 879243</li>
        </ul>
        <p>I usually don't expect calls on these numbers unless planned beforehand through any other methods of communication. If a call is recieved that is just to annoy me, your number will probably get blocked.</p>
        <h2>Messaging</h2>
        <p>If you'd like to message me, you can do so through Discord, Signal, or Telegram.</p>
        <p>On Signal and Telegram, you can use the mobile number (07) to message me, and for Discord you can message 'jackeilles'.</p>
        <p>These platforms are probably what I check most, so if you want a quick response, try reaching out on those first.</p>
        <p>I do also have an IRC bouncer active on <a href='https://libera.chat'>libera.chat</a> under the nick 'jackeilles', however I don't check that too often, if I'm online, I'll respond though.</p>
        <p class="paracenter"><img src="/static/img/unpaid_child.gif"></p>
    </div>
    <a href="/">Go home.</a>
</div>
{% endblock %}