{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="termtext">> devices</h1>
    <div class="abouttext">
        <p>This is a list of all of my devices that are used by me often: </p>
        <ul>
            <li><p class="termtext">arctic - Pixel 7 @ LineageOS 21</p></li>
            <li><p class="termtext">grass - Desktop @ Xenia Linux</p></li>
            <li><p class="termtext">rain - Laptop @ Xenia Linux</p></li>
            <li><p class="termtext">water - Oracle VPS @ Ubuntu Server</p></li>
            <li><p class="termtext">amnesia - Any Device @ TailsOS</p></li>
        </ul>
        <p>All of these devices are capable of PGP/GPG message signing. See <a href="/security">security</a> for more information.</p>
        <a href="/">Go home.</a>
    </div>
</div>
{% endblock %}