{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="termtext">> extras</h1>
    <div class="abouttext">
        <p>These are some extra pages I don't want to clog the navbar with:</p>
        <ul>
            <li><a href='/security'>Security</a></li>
            <li><a href='https://eilles.neocities.org'>Old Neocities Site</a></li>
            <li><a href="https://rza.eilles.xyz">College Final Project Site</a></li>
        </ul>
    </div>
    <a href="/">Go home.</a>
</div>
{% endblock %}