{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="termtext">&gt; jack @ water</h1>
    <!-- Basic navbar -->
    <nav class="abouttext paracenter">
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
        <a href="/extras">Extras</a>
    </nav>
    <p class="paracenter">---</p>
    <p class="abouttext paracenter">I'm Jack Eilles, a student Software Developer moving into University in September 2024, attending Newcastle University or Lincoln University studying Computer Science depending on my college result. I'm a massive Open-Source enthusiast and *NIX nerd.</p>
    <p class="paracenter"><img src='/static/img/globe.webp' width="64px"></p>
    <p class="abouttext paracenter">This site is my own little area on the internet, so don't expect too much professionalism here.</p>
    <p class="paracenter">---</p>
    <h2>A B O U T . M E</h2>
    <div class="row">
        <div class="abouttext paracenter column">
            <h3><u>What's up right now?</u></h3>
            <p>Username: {{ username }}</p>
            <p>Activity: {{ online }}</p>
            <p>Status: {{ status }}</p>
            <p><img src="{{ image }}" alt="pfp" width="128"></p>
        </div>
        <div class="abouttext column">
            <h3>Hello!</h3>
            <p>I primarily like to work in Software Development, but Web Development is a nice thing to mess about with every once in a while, which is how I've birthed this site.</p> 
            <p>I know some of you will like this insight, I wrote this entire website in the Costa near the Newcastle University Urban Sciences Building.</p>
            <p>In my free time I'm usually either working on a project, researching some form of obscure topic, messaging people, or just something else entirely.</p>

        </div>
    </div>
    <p class="paracenter">---</p>
    <div class="abouttext center">
        <h3>What am I doing?</h3>
        <table class="center">
            <tr>
                <th>Currently Studying</th>
            </tr>
            <tr>
                <td>T-Level DPDD Y2</td>
                <td>Moving onto BSc Computer Science (Software Engineering)</td>
            </tr>
            <tr>
                <th>Projects</th>
            </tr>
            <tr>
                <td><a href="https://xenialinux.com">Xenia Linux</a></td>
                <td>An Immutable Linux distro based on Gentoo Linux</td>
            </tr>
            <tr>
                <td><a href="https://xygt.cc">xygt.cc</a></td>
                <td>An anonymous, privacy conscious, temporary paste platform</td>
            </tr>
            <tr>
                <td><a href="https://youtube.com/@JackAndersMusic">Jack Anders</a></td>
                <td>Producing Music under the Jack Anders / andrs alias.</td>
            </tr>
        </table>
    </div>
    <p class="paracenter">---</p>
    <div class="abouttext paracenter">
        <h4>Buttons and Friends</h4>
        <!-- So many fucking buttonssss-->
        <img src="/static/img/written-in-vi.gif">
        <img src="/static/img/above.png" height="31">
        <img src="/static/img/anythingbut.gif">
        <img src="/static/img/button130.gif">
        <img src="/static/img/button142.png">
        <img src="/static/img/torrent.gif">
        <a href="https://neocities.org"><img src="/static/img/5QrevDk.gif"></a>
        <a href="https://alixcarolan.xyz"><img src="/static/img/alixcarolan.gif"></a>
        <img src="/static/img/comp1.png">
        <a href="https://debian.org"><img src="/static/img/debian.gif"></a>
        <a href="https://discord.com/invite/r4AUMySw7d"><img src="/static/img/discord_now.gif"></a>
        <img src="/static/img/wdalt.png">
        <img src="/static/img/Jh8fbvE.gif">
        <a href="https://scp-wiki.wikidot.com/"><img src="/static/img/e-scp.gif"></a>
        <a href="https://landchad.net"><img src="/static/img/landchad.gif"></a>
        <a href="https://xenialinux.com"><img src="/static/img/xenia.gif" height=31"></a>
        <img src="/static/img/internetprivacy.gif">
        <img src="/static/img/dbd.gif">
        <a href="https://ud2.rip">ud2.rip</a>
    </div>
    <!-- hehe -->
    <footer class="abouttext paracenter bigradient">
        <a href="https://youtube.com/@craft1ngninja">&lt;3</a>
    </footer>
</div>
{% endblock %}