{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="termtext">> projects</h1>
    <div class="abouttext">
        <p>These are some of the projects I have been working on:</p>
        <h3 class="termtext">Xenia Linux</h3>
        <p>Xenia Linux is an immutable Linux distribution based on Gentoo Linux. It's current end goal is to be a tool to create an immutable image out of any distributions base, let it be Gentoo, Arch, Debian, etc...</p>
        <p>It is a very interesting project to work on, and I have been working on it for almost 1 and a half years at this point, after founding it with Luna back in November 2022.</p>
        <img src="/static/img/xeniascreenie.png" alt="The conception of Xenia Linux in a Discord DM">
        <p>^ a discord dm showing the initial idea for xenia.</p>
        <p>You can check out the project <a href="https://xenialinux.com">here</a>.</p>
        <h3 class="termtext">xygt.cc</h3>
        <p>xygt.cc is a temporary, anonymous pastebin service created with usability and privacy in mind.</p>
        <p>This project is currently live and running, with quite a few regular users, and many new users joining every week.</p>
        <p>The site aims to be as transparent as possible about what data is collected about users, working off of a no-bs data collection policy. If it's not needed, then it won't be collected.</p>
        <p>All you need to do to submit a file and have it uploaded, is send a POST request with whatever you want put on there.</p>
        <p>You can check out the site here: <a href="https://xygt.cc">xygt.cc</a>.</p>
        <p class="paracenter"><img src="/static/img/voice_activated.gif"> :)</p>
    </div>
    <a href="/">Go home.</a>
</div>
{% endblock %}