{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="termtext">> security</h1>
    <div class="abouttext">
        <p>As seen on <a href="/devices">devices</a>, the stuff on there is able to sign messages using PGP by me.</p>
        <p>Any e-mails sent will <i>usually</i> be signed with my PGP key from whichever address you recieved it from</p>
        <table>
            <tr>
                <th>PGP Public Keys</th>
            </tr>
            <tr>
                <td>jack [at] eilles [dot] xyz - Primary</td>
                <td><a href="/static/data/jack_eilles_xyz.pub">Download</a></td>
            </tr>
            <tr>
                <td>jackeilles [at] cock [dot] li - Secondary</td>
                <td><a href="/static/data/jackeilles_cock_li.pub">Download</a></td>
            </tr>
            <tr>
                <td>jack [at] xenialinux [dot] com - Xenia Linux</td>
                <td><a href="/static/data/jack_xenialinux_com.pub">Download</a></td>
            </tr>
            <tr>
                <td>jackeilles [at] outlook [dot] com - Backup/td>
                <td><a href="/static/data/jackeilles_outlook_com.pub">Download</a></td>
            </tr>
        </table>
        <p>These public keys can be used to verify any files or messages recieved from me.</p>
        <p>All files listed under <a href="/blog">/blog</a> will also be signed using one of these keys.</p>
    </div>
    <a href="/">Go home.</a>
</div>
{% endblock %}